@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {box-sizing:border-box;}

body {
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    background-color: black;
    color: ghostwhite;
    height: 100%;
    width: 100vw;
    max-height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 20px;
}

p, li, a, span {
    font-size: inherit;
}

a {
    text-decoration: underline;
    cursor: pointer;
    color:#F9BB17;
    transition: 0.2s all ease-in-out;
}

a:hover {
    color:#CC5500;
}
h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-weight: 600;
}

h3 {
    font-size: 28px;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 60px 0;
}

main > * {
    padding: 0 min(60px, 5vw);
}

.header {
    padding: 100px 30px;
    background-color: #F9BB17;
}

.header h1 {
    margin: 0;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    display: block;
    color: black;
}

header {
    height: 70px;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #F9BB17;
    z-index: 1;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

header nav ul {
    padding: 0;
    margin: 0;
    display: none;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    text-align: center;
    flex-grow: 1;
    list-style: none;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
}

header nav ul li a:hover {
    color: #CC5500;
}

header nav label {
    display: none;
    color: black;
    font-size: 28px;
}

#menu-toggle {
    display: none;
}

header #menu-toggle:checked ~ ul {
    transform: scale(1, 1);
}

.section-divider {
    height: 60px;
    background: repeating-linear-gradient(
        135deg,
        #F9BB17 0px 10px,
        black 10px 20px
    );
}

hr {
    border: none;
    height: 3px;
    background-color: #F9BB17;
    margin: 0;
}

footer {
    padding: 40px;
    color: ghostwhite;
}

footer > div {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
}
footer p, footer a, footer span{
    font-size: 16px;
}
footer p, footer h2, footer h3, footer a {
    margin: 0;
    padding: 0;
}

footer a {
    color: ghostwhite;
    text-decoration: none;
    transition: 0.2s all ease-in-out;
    display: flex;
    gap: 5px;
    font-weight: 400;
    align-items: flex-start;
}

footer span {
    font-weight: 300;
}

footer a:hover {
    color: #CC5500;
}

.footer-left {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.footer-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.footer-right {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-left img {
    width: 100px;
    object-fit: contain;
    object-position: top;
}
.footer-left h2 {
    line-height: 1;
}


@media only screen and (max-width: 700px) {
    header nav ul {
        flex-direction: column;
        background-color: #F9BB17;
        align-items: start;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        z-index: 1;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 0.3s ease-in-out;
    }

    header nav label {
        width: 100%;
        display: block;
        cursor: pointer;
    }

    header nav ul {
        padding: 0 20px 20px 20px;
    }

    footer > div {
        flex-direction: column;
        align-items: center;
    }

    .footer-left, .footer-center, .footer-right {
        justify-content: center;
    }
    .footer-center {
        flex-direction: row;
        gap: 10px;
    }
    .footer-right {
        flex-direction: row;
        gap: 5px;
    }
    .footer-right a span:not(.footer-right-icon) {
        display: none;
    }
}