@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {box-sizing:border-box;}

body {
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    background-color: #131313;
    color: ghostwhite;
    height: 100%;
    width: 100vw;
    max-height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 20px;
}

p, li, a, span {
    font-size: inherit;
}

a {
    cursor: pointer;
    color:#F9BB17;
    transition: 0.2s all ease-in-out;
    position: relative;
    text-decoration: none;
}

a:hover {
    color: #000;
}

a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #CC5500;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a:hover::before {
    transform: scaleX(1);
}


a:hover {
    color:#CC5500;
}
h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-weight: 600;
}

h3 {
    font-size: 28px;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 60px 0;
}

main > * {
    width: 90%;
    max-width: 1500px;
}

.header {
    padding: 100px 30px;
}

.header h1 {
    margin: 0;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    display: block;
    color: #F9BB17;
}

header {
    padding: 10px 7.5%;
    margin: 0;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #131311ba;
    border-bottom: 3px solid #F9BB17;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px)
}

header nav {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

header nav .menu {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav > div {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

header nav > div > *:first-child {
    flex-grow: 1;
}

header nav > div > div a::before {
    display: none;
}

header nav > div > div > a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
}

header nav > div > div > a > img {
    height: 50px;
    width: auto;
}

header nav > div > div > a > h2 {
    font-size: 24px;
    margin: 0;
    text-wrap: nowrap;
}

header nav .menu {
    display: flex;
    gap: 20px;
}
header nav ul li {
    text-align: center;
    list-style: none;
}

header nav ul li a {
    color: ghostwhite;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
    text-wrap: nowrap;
}

header nav ul li a:hover {
    color: #F9BB17;
}

header nav ul li a::before {
    background-color: #F9BB17;
}

header nav ul li a.active::before {
    transform: scaleX(1);
    transition: background-color 0.3s ease;
}
header nav ul li a.active:hover::before {
    background-color: #CC5500;
}

header nav label {
    display: none;
    color: white;
    font-size: 28px;
}

header nav .second-menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    z-index: 1;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
}


#menu-toggle {
    display: none;
}

.section-divider {
    height: 60px;
    background: repeating-linear-gradient(
        135deg,
        #F9BB17 0px 10px,
        black 10px 20px
    );
}

hr {
    border: none;
    height: 3px;
    background-color: #F9BB17;
    margin: 0;
}

footer {
    padding: 40px 7.5%;
    color: ghostwhite;
}

footer > div {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
}
footer p, footer a, footer span{
    font-size: 16px;
}
footer p, footer h2, footer h3, footer a {
    margin: 0;
    padding: 0;
}

footer a {
    color: ghostwhite;
    text-decoration: none;
    transition: 0.2s all ease-in-out;
    display: inline-flex;
    gap: 5px;
    font-weight: 400;
    align-items: flex-start;
}

footer a:hover {
    color: #F9BB17;
}

footer a::before {
    background-color: #F9BB17;
}

footer span {
    font-weight: 400;
}


.footer-left {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.footer-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer-right {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-left img {
    width: 100px;
    object-fit: contain;
    object-position: top;
}
.footer-left h2 {
    line-height: 1;
    color: #F9BB17;
}


@media only screen and (max-width: 900px) {
    header nav .menu {
        display: none;
    }

    #menu-toggle:checked ~ .second-menu {
        position: initial;
        display: flex;
        max-height: 144px;
    }

    header nav label {
        display: block;
        cursor: pointer;
    }

    header nav ul {
        padding: 0 20px 20px 20px;
    }

    footer > div {
        flex-direction: column;
        align-items: center;
    }

    .footer-left, .footer-center, .footer-right {
        justify-content: center;
    }
    .footer-center {
        flex-direction: row;
        gap: 10px;
    }
    .footer-right {
        flex-direction: row;
        gap: 5px;
    }
    .footer-right a span:not(.footer-right-icon) {
        display: none;
    }
}